<!-- extending the base of every page by passing the base.html page in parameter -->
  {% extends 'base.html' %}


{% block content %}

 {% load cart %}
  <!-- python code in markup (html) language-->
    <div class="container-fluid mt-3">
        <div class="row">
        	<!-- Filter start -->

        	<!-- Filter end -->	
        	<div class="col-lg-2 mx-auto">
        		<div class="list-group">
        			<a href="/" class="list-group-item list-group-item-action">All Products</a>
        			{% for category in categories %}
		    			<a href="/?category={{category.id}}" class="list-group-item list-group-item-action">{{category.name}}</a>
        			{% endfor %}
        		</div>
        	</div>
        	<!-- Products start -->
        	<div class="col-lg-10 mx-auto" id="products">
		    	<div class="row mx-auto">
		        {% for product in products %}
		            <div class="card mx-auto mb-3" style="width: 18rem;">
		                <img src="{{product.image.url}}" class="card-img-top" alt="Card Image">
		                <div class="card-body">
		                    <h5 class="card-title">{{product.name}}</h5>
		                    <p class="card-text"><b>{{product.price}} &#x09F3;</b></p>
		                    <!-- <a href="#" class="btn btn-primary btn-sm">Add To Cart</a> -->
		                    {% if request.session.cart %}
		                    	{{product | is_in_cart:request.session.cart }}
		                    {% endif %}
		                    <form action="/" method="POST">
		                    	{% csrf_token %}
		                    	<input hidden type="text" name="product" value="{{product.id}}">
		                    	<input type="submit" class="float-right btn btn-primary border btn-sm" value="Add To Cart">
		                    </form>
		                </div>
		        	</div>
		        {% endfor %}
		    	</div>
        	</div>
        	<!-- Products End -->
        </div>
    </div>
{% endblock %}

