<!-- extending the base of every page by passing the base.html page in parameter -->
  {% extends 'base.html' %}


{% block content %}
  <!-- python code in markup (html) language-->
    <div class="container-fluid mt-3">
        <div class="row mx-auto">
            {% for product in products %}
            <div class="card mx-auto mb-3" style="width: 18rem;">
                <img src="{{product.image.url}}" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text"><b>{{product.price}}</b></p>
<!--                    <small>{{product.image.url}}</small>-->
                    <a href="#" class="btn btn-primary btn-sm">Add To Cart</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}